

/* disable:true---means its active
disable:false--means its inactive */


body{
    background-image: url("image1.jpg");
}

header{
    /* background-color: rgb(49, 52, 59); */
    background-color:rgb(69, 82, 115);
    padding: 10px;

}
#heading-name{
    color: white;
    padding-left: 40px;
    font-style:italic;
    display: inline; 
}

h3 {
    color: white;
    /* padding-left: 40px; */
    display: inline;
    }
    h1{
        /* color: rebeccapurple; */
        color: white;
        margin-top: 70px;
        margin-right: 30px;
    
    }

    
    Different Types of SQL JOINs
    Here are the different types of the JOINs in SQL:
    •	(INNER) JOIN: Returns records that have matching values in both tables
    •	LEFT (OUTER) JOIN: Return all records from the left table, and the matched records from the right table
    •	RIGHT (OUTER) JOIN: Return all records from the right table, and the matched records from the left table
    •	FULL (OUTER) JOIN: Return all records when there is a match in either left or right table
     
      
     
      
     
      
     
    