

body{
    background-image: url("download.jfif");
    background-size: cover
}

header{
    background-color:rgb(94, 88, 90);
    padding: 10px;
}

a:active {
    background-color: #2ed95b;
  }
#heading-name{
    color: white;
    padding-left: 40px;
    font-style:italic;
    display: inline; 
}

h3 {
    color: white;
    /* padding-left: 40px; */
    display: inline;
    }
.input{
    border-radius: 5px;
    width:380px;
    height: 35px;
}
.infobox{
        background-color: white;
        text-indent: right;
        width: 500px;
        height: 550px;
        margin-top: 50px;
        padding: 23px 20px;
        font-size: large;
        border-radius: 5px;
    }
h1{
    /* color: rebeccapurple; */
    color: white;
    margin-top: 40px;
    margin-right: 30px;

}

